@import "tailwindcss";

.THEMED {
  font-family: var(--global-font);
  font-size: 17px;
  color: theme("colors.slate.600");
} .dark .THEMED {
  color: theme("colors.slate.200");
}

.THEMED-bg {
  background-color: white;
} .dark .THEMED-bg {
  background-color: theme("colors.slate.900");
}

.THEMED-button {
  background-color: theme("colors.orange.600") !important;
  transition: background-color 0.2s ease-in-out !important;
  color: white !important;
  cursor: pointer;
} .THEMED-button:hover {
  background-color: theme("colors.orange.700") !important;
} .THEMED-button:disabled {
  cursor: not-allowed;
  transition: none !important;
  color: theme("colors.slate.500") !important;
  background-color: theme("colors.slate.400") !important;
} .dark .THEMED-button {
  background-color: theme("colors.indigo.700") !important;
} .dark .THEMED-button:hover {
  background-color: theme("colors.indigo.900") !important;
} .dark .THEMED-button:disabled {
  background-color: theme("colors.slate.600") !important;
  color: theme("colors.slate.800") !important;
}

.THEMED-button-cancel {
  background-color: theme("colors.slate.400") !important;
  color: theme("colors.slate.950") !important;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out !important;
} .THEMED-button-cancel:hover {
  background-color: theme("colors.slate.500") !important;
} .THEMED-button-cancel:disabled {
  transition: none !important;
  background-color: theme("colors.slate.500") !important;
  color: theme("colors.slate.400") !important;
}

.THEMED-textArea {
  outline-color: theme("colors.indigo.700") !important;
}

/* USE CASES: Page Title Font */
.THEMED-text1 {
  font-size: 42px;
}

/* USE CASES: Nav Bar Links */
.THEMED-text2 {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
} .THEMED-text2:hover {
  color: theme("colors.slate.950");
  background-color: rgba(144, 161, 185, 0.4);
}

/* USE CASES: Issues table text */
.THEMED-text3 {
  font-size: 14px;
}

/* USE CASES: Form field error text */
.THEMED-text4 {
  color: theme("colors.indigo.700");
  font-size: 12px;
} .dark .THEMED-text4 {
  color: theme("colors.orange.400");
}

/* USE CASES: Links */
.THEMED-text5 {
  color: theme("colors.indigo.800");
} .dark .THEMED-text5 {
  color: theme("colors.orange.600");
} .THEMED-text5:hover {
  text-decoration: 
  underline;
}

/* USE CASES: Dialog Pop-up Title */
.THEMED-text6 {

} .dark .THEMED-text6 {
  color: theme("colors.orange.600");
}

.THEMED-text-sm {
  font-size: 14px;
}

.THEMED-text-md {
  font-size: 18px;
}